<section class="account-page account-page-register" data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.register.title' | t}}
    </h1>
  </header>

  <article class="account-page-content">
    {% render "customer-fields", form_id: "bbt8el" %}
  </article>
</section>
